/* applied to the whole page */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: #06c;  
}

/* rules for sidebar on the right of page */
#sidebar {
  width: 10em;
  float: right;
  padding: 0 0 0 0;
}
#sidebar h2 {
  padding: 0 0 0 .5em;
  margin: 0;
  font-size: 1em;
}
#sidebar .section {
  padding: 1em 0;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 75%;
  line-height: 1.5em;
}
#sidebar .section ul {
  list-style-type: square;
  margin: 0;
  padding: 0 0 0 20px;
}
