          * {
            margin: 0;
            padding: 0;
          }
          html, body {
		min-width: 900px;
		background: #556691;
		text-align:center;
            height: 100%;
            overflow: auto;
	    font-size: 15pt;
          }
          #wrapper {
            
            width: 96%;
            overflow: auto;
	    border-color: gray;
	    border-style: solid;
	    margin: 15px 0 0 0;
            position: absolute;
          }
	  #heading {
		min-width: 1024px;
		width: 100%;
		left: 0;
		top: 0;
		position: relative;
		//border-bottom:2px inset #EEE;
		background-image:url('background.png');
;
	}
a {
	color: white;
	
}
IMG.maxSized
{
max-width: 125px;
max-height: 125px;
}

<!--
table {
    width:100%;
	//border-bottom:2px solid #000;
}
th {
   // border-top:1px solid #999;
    text-align:left;
}
td {
	//border-bottom:1px solid #999;
	//border-left:1px solid #999;
	//border-right:1px solid #999;
text-align:center;
}
td.newHead {
	text-align:right;
}
td.centerHead {
	text-align: center:
	font-size: 36px;
	color: #fff;
	font-style: bold;
	font-weight: 500;
	font-family: serif; 
}
th {
    border-bottom:1px solid #999;
    background-color: #EEE;
    
	border-left:1px solid #999;
	border-right:1px solid #999;
	text-align:center;
}
.outer {
    position:relative;
    width:96%;
   // border-bottom:2px solid #000;
   // border-top:2px solid #000;
	//border-right:2px solid #000;
}
.inner {
    height:50%;
    overflow:auto;
}
.header {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}


#shoppingcart {
	text-align:center;
	position: absolute;
	top: 50px;
	left: 50px;
	height: 100px;
	width: 500px;
	background: #eee;
	border: 1px solid #444;
}
#shoppingcart p {
	margin: 0 1em 1em;
}

h1 {
	font-size: 140%;
	margin: 0.5em 1em;
}
#contents {
	text-align:center;
	min-width: 1024px;
	background: #556691;
	border: 0px solid #333;
}
#contents table.center {
	margin-left:auto;
	margin-right:auto;
	width:70%;
	font-size: 130%;
	border-collapse: collapse;
}

#contents table td {
	border: 1px solid #999;
	width: 20%;
}

#contents p, #contents button {
	margin: 1em;
}
-->
